<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'camera_main')">Camera Main</button>
        <button class="tablinks" onclick="openTab(event, 'controller')">Controller</button>
    </div>

    <div id="camera_main" class="tabcontent">
        <img id="camera-stream" src="/video_feed" alt="No Camera Stream :(">
        <p id="camera-status">Camera not connected</p>
    </div>

    <div id="controller" class="tabcontent">
        <div id="start">Waiting for controller...</div>
        <div id="controller-display"></div>
    </div>

    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/interaction.js"></script>
    <script type="text/javascript" src="/static/stream_monitor.js" defer></script>
    <script type="text/javascript" src="/static/gamepad.js" defer></script>
</body>
</html>
